<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <form action="post" [formGroup]="jsonForm" (ngSubmit)=onSubmit(jsonForm.value)>
            <div class="custom-file">
                <input type="file" required class="custom-file-input" id="assignment" formControlName="assignment" ng-model="assignment" (change)="onFileSelected($event)">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>

        </form>
        
    </div>
    
</body>
</html>