<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <app-navbar></app-navbar>
    <h3 class="temp">Overall Rankings</h3>
    <div class="container">
            <div class="card text-white bg-info mb-3" style="max-width: 160rem;" *ngFor="let team of teams; index as i">
                <div class="card-header">Overall Ranking: {{ i+1 }}</div>
                <div class="card-body bg-light">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                    <!-- <p class="card-text">Team Name: {{ team.team_name }}</p> -->
                    <p class="card-text">Team Name: {{team}}</p>  
                </div>
            </div>            
    </div>
    

    
</body>
</html>